/node_modules
/.next
/.turbo
/.vscode
.DS_Store
.next-env.d.ts
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*

# Mac files
Icon?
Complete Plants vs Brainrots Plant and Brainrot List & Mutations Guide – Destructoid.html
Complete Plants vs Brainrots Plant and Brainrot List & Mutations Guide – Destructoid_files